/* Variables
----------------------- */
:root {
  --color-primary: #dd3923;
  --color-secondary: #3a3b54;
  --light-primary: #f4efec;
  --light-secondary: #d9dfee;
  --color-border: #e4dcd4;
  --text-color: #4a4a4a;
  --text-color-light: #878787;
  --bold-color: #222222;
  --dark: #0f0f22;
  --bg-body: #ffffff;
  --shadow-primary: 0 0 10px 1px var(--color-primary);
  --shadow-secondary: 0 0 10px 1px var(--color-secondary);
  --font-text: "Inter", sans-serif;
  --font-heading: "Heebo", sans-serif;
}

/* Default Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* HTML and Body
----------------------- */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-body);
  color: var(--text-color);
  font-family: var(--font-text), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Regions
----------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

template,
[hidden] {
  display: none;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

/* Typography
----------------------- */
/* Typography -> Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bold-color);
  font-family: var(--font-heading);
  font-weight: 500;
  font-style: normal;
  line-height: 1.4;
  margin: 0 0 6px 0;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5, h6 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

/* Typography -> Paragraph */
p {
  margin: 0 0 1.2rem 0;
}

/* Typography -> Links */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  color: var(--color-primary);
  background-color: transparent;
  text-decoration: none;
  transition: color 0.4s ease;
}

a:active,
a:hover,
a:focus {
  background-color: transparent;
  text-decoration: none;
  border: 0;
  outline: 0;
}

a:hover {
  color: var(--color-secondary);
}

a:active,
li a.active {
  color: var(--color-primary);
}

/* Typography -> Abbreviation */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

abbr {
  cursor: help;
}

acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* Typography -> Text styling */
b,
strong {
  font-weight: bolder;
  color: var(--bold-color);
}

em,
dfn,
cite {
  font-style: italic;
}

mark,
ins {
  background-color: var(--light-primary);
  padding: 0 2px;
}

del {
  text-decoration: line-through;
}

small {
  font-size: 80%;
}

big {
  font-size: 125%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

tt,
var {
  font-family: monospace, monospace;
  font-style: italic;
}

/* Typography -> Blockquote */
blockquote {
  position: relative;
  background-color: var(--light-secondary);
  color: var(--bold-color);
  margin-bottom: 1.2rem;
  padding: 1.5rem;
  border-radius: 6px;
  isolation: isolate;
  z-index: 1;
}

blockquote:before {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  content: "\f250";
  font-family: "bootstrap-icons";
  color: #ffffff;
  font-size: 2.5em;
  line-height: 1;
  z-index: -1;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

blockquote cite {
  color: var(--color-primary);
}

/* Typography -> HTML code tags */
samp {
  background-color: var(--light-primary);
  margin: 1rem 0;
  padding: 4px 10px;
  font-family: monospace, monospace;
  font-size: 1rem;
  border: 1px solid var(--color-border);
}

code {
  background-color: var(--dark);
  color: #ffffff;
  font-family: monospace, monospace;
  padding: 2px 10px;
  font-size: 1rem;
}

pre {
  background-color: var(--dark);
  color: #ffffff;
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  overflow-x: auto;
}

kbd {
  background-color: var(--light-primary);
  padding: 4px 10px;
  font-family: monospace, monospace;
  font-size: 1rem;
}

/* Typography -> Address */
address {
  margin: 0 0 1.75rem;
  font-style: italic;
}

/* Typography -> Description Lists */
dl {
  margin: 0 0 1.75rem;
}

dt {
  color: var(--bold-color);
  font-family: var(--font-heading);
  font-weight: 500;
}

dd {
  margin: 0 0 1.75rem;
}

/* Typography -> HTML Elements */
hr {
  clear: both;
  width: 100%;
  margin: 0.5rem 0;
  border: 0;
  border-bottom: 2px solid var(--color-border);
  box-sizing: content-box;
}

/* Forms
----------------------- */
form {
  margin-bottom: 1rem;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.6;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
  border-style: none;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 0;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=url],
textarea {
  background-color: #ffffff;
  padding: 10px;
  max-width: 100%;
  border: 2px solid var(--color-border);
  border-radius: 4px;
  transition: all 0.3s linear;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=url]:focus,
textarea:focus {
  border: 2px solid var(--dark);
  outline: 0;
}

input[type=submit],
input[type=button],
input[type=reset],
button,
.button {
  position: relative;
  display: inline-block;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 7px 1rem;
  border: 3px solid var(--color-primary);
  transition: all 0.4s ease-in-out;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
button:hover,
.button:hover {
  background-color: transparent;
  color: var(--dark);
  border: 3px solid var(--dark);
}

input[type=checkbox],
input[type=radio] {
  margin-right: 6px;
  padding: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

textarea {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  vertical-align: top;
}

select {
  background-color: #ffffff;
  padding: 10px;
  max-width: 100%;
  border: 2px solid var(--color-border);
  border-radius: 4px;
}

fieldset {
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid var(--color-border);
}

fieldset > :last-child {
  margin-bottom: 0;
}

legend {
  font-family: var(--font-heading);
  font-weight: 500;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  border: 0;
  box-sizing: border-box;
  white-space: normal;
}

optgroup {
  font-weight: bold;
}

form label {
  font-family: var(--font-heading);
  font-weight: 500;
}

label[for] {
  cursor: pointer;
}

.page-content input[type=text],
.page-content input[type=password],
.page-content input[type=search] {
  padding: 9px 6px;
  outline: 0;
}

/* Drupal form elements */
.form-item {
  margin-bottom: 1rem;
}

table .form-item {
  margin: 0;
}

.form-required:after {
  content: "*";
  display: inline-block;
  color: var(--color-primary);
  padding-left: 4px;
  font-size: 0.8em;
  vertical-align: super;
}

.form-item label {
  display: block;
}

label.option {
  display: inline;
  font-weight: normal;
}

form .description {
  color: var(--text-color-light);
  font-size: 0.9rem;
}

/* placeholder */
::-webkit-input-placeholder {
  color: #8a8a8a;
}

:-moz-placeholder {
  color: #8a8a8a;
}

::-moz-placeholder {
  color: #8a8a8a;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8a8a8a;
}

/* List
----------------------- */
ul,
ol {
  margin: 0;
  padding: 0 0 0.25rem 1rem; /* LTR */
}

[dir=rtl] ul,
[dir=rtl] ol {
  padding: 0 1rem 0.25rem 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25rem 1rem; /* LTR */
}

[dir=rtl] ol ol,
[dir=rtl] ul ul {
  padding: 0 1rem 0.25rem 0;
}

ul {
  list-style: disc;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

[dir=rtl] ul,
[dir=rtl] ol {
  padding: 0 1em 0.25em 0;
}

/* Table
----------------------- */
table {
  width: 100%;
  margin-bottom: 1.2rem;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
tr,
td {
  vertical-align: middle;
}

th {
  background-color: var(--color-border);
  font-family: var(--font-heading);
  color: var(--bold-color);
  margin: 0;
  padding: 10px;
  border: 1px solid var(--color-border);
  text-align: left;
}

th a {
  color: var(--bold-color);
}

td {
  padding: 10px;
  border: 1px solid var(--color-border);
}

/* Media
----------------------- */
img,
picture,
svg {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
  border: 0;
}

figcaption {
  padding: 4px;
  font-size: 0.8rem;
  background: #ffffff;
  border: 1px solid var(--color-border);
  text-align: center;
}

.align-left,
img.align-left,
figure.align-left {
  float: left;
  margin: 20px 20px 20px 0;
}

.align-right,
img.align-right,
figure.align-right {
  float: right;
  margin: 20px 0 20px 20px;
}

.align-center,
img.align-center,
figure.align-center {
  display: block;
  clear: both;
  margin: 20px auto;
}

figure.align-center {
  display: table;
}

figure.align-center img {
  display: block;
  clear: both;
  margin: 0 auto;
}

/* Drupal image filed */
.feed-icon {
  display: block;
}

details {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
}

summary {
  background-color: var(--light-primary);
  color: var(--text-color);
  padding: 0.5rem;
  cursor: pointer;
}

/* Misc
----------------------- */
::-moz-selection {
  background: var(--color-primary);
  color: #ffffff;
}
::selection {
  background: var(--color-primary);
  color: #ffffff;
}

::-moz-selection {
  background: var(--color-primary);
  color: #ffffff;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1260px;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}

.full-width {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  padding: 1.5rem 0;
}

.main-container {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.no-sidebar .main-container,
.sidebar-left .main-container,
.sidebar-right .main-container,
.two-sidebar .main-container {
  grid-template-columns: 100%;
}

.page-content,
.sidebar {
  min-width: 0px;
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter.woff2") format("woff2");
}
/* heebo-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/heebo.woff2") format("woff2");
}
.block-title {
  position: relative;
}

.block-title::before,
.block-title::after,
.block-title::before,
.block-title::after,
.content-block .block-title::before,
.content-block .block-title::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 2px;
}

.block-title::before,
.block-title::before,
.content-block .block-title::before {
  background-color: var(--dark);
  left: 0;
  width: 0.5rem;
}

.block-title::after,
.block-title::after,
.content-block .block-title::after {
  background-color: var(--color-primary);
  left: 0.8rem;
  width: 1.6rem;
}

/* Homepage content */
.region-content-home {
  display: flex;
  flex-direction: column;
}

.region-content-home .block {
  padding: 2rem 0;
}

/* Hero header */
.region-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0 0 0;
}

.region-hero img {
  display: block;
}

.slider-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.slider-section-left {
  flex: 100%;
  max-width: 100%;
}

.slider-section-right {
  display: flex;
  flex: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

/* SLider */
.slider-item {
  position: relative;
}

.slider-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

/* slider dots */
.region-hero .slick-dotted.slick-slider {
  margin: 0;
}

.region-hero .slick-dots {
  bottom: 0.5rem;
}

/* Highlighted */
.region-highlighted {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.region-highlighted .block {
  padding: 1rem 0;
}

/* Field Label */
.field-label-inline {
  display: flex;
  gap: 0.5rem;
}

.field-label {
  position: relative;
  font-family: var(--font-heading);
  color: var(--bold-color);
  font-weight: 500;
}

.field-label-inline .field-label::after {
  content: ":";
}

/* Field items */
.field-items {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.region-header-top {
  width: 100%;
  margin: 0;
}

.header {
  background-color: var(--light-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0 0 0;
}

.header i {
  color: var(--color-primary);
}

/* Header menu */
.header .menu {
  display: flex;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

/* Header top */
.header-top a {
  color: var(--bold-color);
}

.region-header-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.region-header-top p {
  margin: 0;
}

/* Header main */
.header-main,
.header-menu {
  font-family: var(--font-heading);
  font-weight: 500;
}

.header-main a {
  color: var(--bold-volor);
}

.header-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Header main -> site branding */
.site-brand {
  display: flex;
  align-items: center;
}

.site-brand img {
  display: block;
  max-height: 30px;
  width: auto;
  max-width: unset;
}

.site-name-slogan {
  display: flex;
  flex-direction: column;
}

.site-name {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  line-height: 1.1;
}

.site-name a,
.site-name a:hover {
  color: var(--color-secondary);
}

.site-slogan {
  font-size: 0.9rem;
  line-height: 1;
}

/* Header main -> search */
.header-search form {
  display: flex;
  margin: 0;
  width: 100%;
  border: 2px solid var(--dark);
  border-radius: 4px;
}

.header-search .form-item {
  margin: 0;
}

.header-search input[type=search] {
  background-color: var(--light-primary);
  font-family: var(--font-text);
  font-weight: 400;
  min-width: 300px;
  border: 0;
}

.header-search input[type=submit] {
  background-color: var(--dark);
  width: 2rem;
  height: 100%;
  padding: 0;
  border-radius: 0;
}

.header-search input[type=submit] {
  -webkit-mask-image: url(../images/search.svg);
  mask-image: url(../images/search.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: 1.5rem;
  mask-size: 1.5rem;
  overflow: hidden;
  text-indent: 9999px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* Header main -> header region */
.region-header {
  display: flex;
  gap: 1rem;
}

/* Header main -> header right */
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Header main menu */
.header-menu {
  z-index: 2;
}

.mobile-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.mobile-menu-icon span {
  background-color: var(--color-primary);
  width: 100%;
  height: 2px;
  transform-origin: left;
  transition: all 0.6s ease;
}

.mobile-menu-icon span:nth-child(2) {
  background-color: var(--dark);
}

.menu-icon-active span:first-child {
  transform: rotate(45deg);
}

.menu-icon-active span:last-child {
  transform: rotate(-45deg);
}

.menu-icon-active span:nth-child(2) {
  display: none;
}

.close-mobile-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  place-content: center;
  width: 34px;
  height: 34px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}

.close-mobile-menu i {
  color: #ffffff;
  line-height: 1;
}

.header-menu .submenu {
  font-size: 0.9rem;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primary-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark);
  padding: 1rem;
  transform: translateX(-100%);
  transition: all 0.3s linear;
  z-index: 100;
}

.active-menu {
  transform: translateX(0);
}

.region-primary-menu .menu,
.region-primary-menu .submenu {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.region-primary-menu .menu {
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  gap: 0;
}

.region-primary-menu .menu > li {
  border-bottom: 1px solid var(--text-color-light);
}

.region-primary-menu .menu a,
.region-primary-menu .menu li > span {
  display: block;
  color: var(--text-color-light);
  padding: 0.5rem 0;
}

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children::after {
  position: absolute;
  content: "+";
  color: var(--color-primary);
  right: 0;
  top: 0.5rem;
}

.region-primary-menu .submenu {
  font-size: 0.9rem;
  padding: 0 0 0 1.5rem;
}

.region-primary-menu .submenu li {
  border-bottom: 1px solid var(--text-color-light);
}

.region-primary-menu .submenu li:last-child {
  border: 0;
}

.region-primary-menu .submenu li:first-child {
  border-top: 1px solid var(--text-color-light);
}

/* Page header */
.page-header {
  background-color: var(--light-secondary);
}

.page-header h1,
.page-header h2,
.page-header h3 {
  line-height: 1;
  margin: 0;
}

.region-page-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}

/* Node display */
.node-view-mode-teaser {
  margin-bottom: 3rem;
}

.node-view-mode-teaser .links-container {
  padding: 0.5rem;
  box-shadow: 0 0 3px 1px var(--text-color-light);
  border-radius: 4px;
}

.node-view-mode-teaser .links-container a {
  color: var(--dark);
}

.node-content .field {
  margin-bottom: 1rem;
}

/* content-top and content-bottom */
.region-content-top,
.region-content-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.region-content-top .block p:last-of-type,
.region-content-bottom .block p:last-of-type {
  margin: 0;
}

.region-content-top {
  margin-bottom: 1rem;
}

.region-content-bottom {
  margin-top: 1rem;
}

.comments {
  margin-top: 2rem;
}

.comments-title i {
  color: var(--color-primary);
}

.single-comment {
  margin-bottom: 1rem;
  box-shadow: 0 0 4px 2px var(--color-border);
}

.comment-header {
  display: flex;
  background-color: var(--light-primary);
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

.comment-user-picture {
  background-color: #ffffff;
  flex: 0 0 100px;
  height: 100px;
  text-align: center;
  align-self: center;
  border-radius: 6px;
}

.comment-title {
  font-size: 20px;
}

.comment-body {
  background-color: #ffffff;
  padding: 1rem;
}

/* menu
----------------------- */
.menu-item {
  position: relative;
}

/* breadcrumb
----------------------- */
.breadcrumb {
  font-size: 0.9rem;
}

.breadcrumb-items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb-items li {
  padding: 0;
}

.breadcrumb-item a {
  position: relative;
  color: var(--text-color);
}

.breadcrumb-item a:hover {
  color: var(--color-primary);
}

.breadcrumb-item a::after {
  content: "\f285";
  font-family: "bootstrap-icons";
  font-size: 0.8rem;
  color: var(--dark-text-color);
  padding: 0 10px;
  vertical-align: middle;
}

/* status message
----------------------- */
.status-message-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.message {
  position: relative;
  color: #ffffff;
  padding: 14px 14px 14px 64px;
}

.message summary em {
  background: var(--color-primary);
}

.message summary pre {
  margin: 0;
}

.message details {
  margin: 0;
  padding: 0;
  border: 0;
}

.message em {
  color: #ffffff;
  font-style: italic;
  border-bottom: 1px dotted #ffffff;
}

.message p:last-of-type {
  margin: 0;
}

.message a {
  color: #ffffff;
  text-decoration: underline;
}

.message-status {
  background: #89ad32;
}

.message-status::before {
  content: "\f271";
  background-color: #759625;
}

.message-error {
  background: #c94d1c;
}

.message-error::before {
  content: "\f33b";
  background-color: #b3461b;
}

.message-warning {
  background: #cd5a0a;
}

.message-warning::before {
  content: "\f333";
  background-color: #a44707;
}

.message-info {
  background: #a6d3e5;
}

.message-info::before {
  content: "\f433";
  background-color: #359ec8;
}

.message::before {
  font-family: "bootstrap-icons";
  position: absolute;
  left: 0;
  top: 0;
  width: 53px;
  text-align: center;
  height: 100%;
  line-height: 53px;
  font-size: 1.8rem;
}

/* Node submitted details
----------------------- */
.node-meta {
  display: flex;
  background-color: var(--light-primary);
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 2px;
}

.node-meta i {
  color: var(--color-primary);
}

.node-date-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Admin tabs
----------------------- */
.page-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0 0 0.5rem 0;
  padding: 0;
  border-bottom: 2px solid var(--dark);
  list-style: none;
}

.page-tabs li a {
  display: block;
  background-color: var(--dark);
  color: #ffffff;
  padding: 4px 10px;
  transition: all 0.3s ease;
}

ul.page-tabs li.active-page-tab a {
  background: var(--color-primary);
}

ul.page-tabs li a:hover {
  background: var(--color-secondary);
}

/* Local actin */
.local-action {
  list-style: none;
}

.button-action {
  background-color: var(--color-secondary);
  color: #ffffff;
  padding: 6px 12px;
}

.button-action:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}

/* block quick action button */
.contextual .trigger {
  background-color: var(--color-primary);
}

.contextual .trigger:hover {
  background-color: var(--color-secondary);
}

.contextual .trigger::before {
  content: none;
}

/* Scroll to top
----------------------- */
.scrolltop {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 10px;
  width: 48px;
  height: 48px;
  background: var(--color-primary);
  color: #ffffff;
  border-radius: 6px;
  z-index: 20;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
}

.scrolltop:hover {
  background: var(--dark);
}

/* Navigation -> inline links */
.links.inline {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Pager
------------------------*/
.pager {
  width: 100%;
  margin-top: 1rem;
}

.pager-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pager-item,
.pager-item a {
  display: grid;
  place-content: center;
  height: 44px;
  min-width: 44px;
}

.pager-item {
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 2px;
  transition: all 0.4s ease;
}

.pager-item:hover {
  background-color: var(--dark);
}

.pager-item a {
  color: #ffffff;
}

.pager-item-active {
  background-color: var(--dark);
}

.pager-item-first,
.pager-item-last {
  padding: 0 6px;
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-icons a {
  display: grid;
  place-content: center;
  background-color: var(--light-primary);
  color: var(--dark);
  width: 44px;
  height: 44px;
}

.footer .social-icons a:hover,
.social-icons a:hover {
  background-color: var(--color-secondary);
  color: #ffffff;
}

/* cart block */
.cart--cart-block .cart-block--contents {
  background-color: var(--dark);
  color: #ffffff;
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 0.9rem;
  width: 320px;
  right: 0;
}

.cart--cart-block .cart-block--contents__inner {
  padding: 1rem;
}

.cart--cart-block .cart-block--contents__items {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.cart--cart-block table {
  margin-bottom: 1rem;
}

.cart--cart-block table tr {
  border-bottom: 1px solid #ffffff;
}

.cart--cart-block table td {
  padding: 0.5rem;
  border: 0;
}

.cart--cart-block .cart-block--contents__links a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 0.5rem;
  border-radius: 4px;
}

/* cart block scrolling */
.cart-block--contents ::-webkit-scrollbar {
  width: 6px;
}

.cart-block--contents ::-webkit-scrollbar-track {
  background: #111111;
}

.cart-block--contents ::-webkit-scrollbar-thumb {
  background-color: var(--light-secondary);
}

/* cart page */
.views-field-edit-quantity,
.views-field-remove-button {
  text-align: center;
}

.delete-order-item {
  width: 1.2rem;
  height: 1.2rem;
  -webkit-mask-image: url(../images/trash.svg);
  mask-image: url(../images/trash.svg);
  -webkit-mask-size: 1.2rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 1.2rem;
  overflow: hidden;
  text-indent: 9999px;
}

input.delete-order-item:hover {
  background-color: var(--dark);
}

input.delete-order-item {
  padding: 0;
}

/* checkout page */
.checkout-pane {
  padding: 0;
  border: 0;
}

/* buttons on the review page */
.link--previous {
  padding: 0.5rem 1.2rem;
  border: 2px solid var(--dark);
  border-radius: 4px;
}

.link--previous:hover {
  background-color: var(--dark);
  color: #ffffff;
  border: 2px solid var(--dark);
}

/* Product page */
.product-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* product title */
.product-title {
  font-size: 1.6rem;
}

/* Radio Product attributes */
/* product catalog page */
.products {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product {
  flex: 1 0 250px;
  background-color: var(--light-primary);
  max-width: 350px;
  padding: 1rem;
  overflow: hidden;
}

/* Product image */
.product .field-type-image {
  display: grid;
  place-content: center;
  width: 100%;
  overflow: hidden;
}

.product .field-type-image img {
  max-height: 300px;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s linear;
}

.view .product .field-type-image:hover img {
  transform: scale(1.2);
}

/* show only first image on view pages and blocks */
.view .product .field-image:not(:nth-child(1)) {
  display: none;
}

/* Product image on single product page */
.product-image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Slider nav */
.product-main-image-nav {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem 0;
}

.product-main-image-nav .field-item a {
  pointer-events: none;
}

.product-main-image-nav .field-image {
  cursor: pointer;
}

.product-main-image-nav .slick-track {
  display: flex;
  gap: 0.5rem;
}

.product-main-image-nav .slick-slide {
  border: 2px solid #ffffff;
}

.product-main-image-nav .slick-current {
  border: 2px solid var(--text-color);
}

.product .field-name-title {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--bold-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .field-name-title a {
  color: var(--bold-color);
}

.product form {
  margin-bottom: 0;
}

.region-sidebar-first,
.region-sidebar-second {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .block {
  background-color: var(--light-secondary);
  padding: 1rem;
}

.sidebar .block p:last-of-type,
.sidebar .block form:last-of-type {
  margin: 0;
}

/* form in sidebar */
.sidebar form,
.sidebar .form-search,
.sidebar .form-item,
.sidebar select {
  width: 100%;
}

/* sidebar typography */
.sidebar a {
  color: var(--dark);
}

.sidebar a:hover {
  color: var(--color-secondary);
}

.sidebar li {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid var(--text-color-light);
}

.sidebar ul ul {
  padding-left: 0.5rem;
}

.sidebar li:last-child {
  border: 0;
}

.footer a {
  color: var(--dark);
}

.footer a:hover {
  color: var(--color-primary);
}

.footer ul,
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid var(--text-color-light);
}

/* Footer top */
.footer-top {
  background-color: var(--light-primary);
}

.region-footer-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.footer-top .block p:last-of-type {
  margin: 0;
}

/* Footer main */
.footer-main {
  background-color: var(--light-secondary);
}

.region-footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.region-footer .block,
.footer-last-region {
  flex: 1 0 250px;
}

/* Footer bottom */
.region-footer-bottom {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.region-footer-bottom .block {
  flex: 0 0 100%;
}

/* Footer last */
.footer-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 1.5rem 0;
}

.footer-last li {
  padding: 0;
  border: 0;
}

.footer-last .social-icons {
  justify-content: end;
}

/* Footer block title */
.footer .block-title,
.sidebar .block-title,
.content-block .block-title {
  font-size: 1.3rem;
  line-height: 1;
  padding-bottom: 0.5rem;
  margin-bottom: 14px;
}

/*slide up */
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Color
--------------------------- */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-dark {
  color: var(--dark);
}

.color-white {
  color: #ffffff;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-primary-light {
  background-color: var(--light-primary);
}

.bg-secondary-light {
  background-color: var(--light-secondary);
}

.bg-dark {
  background-color: var(--dark);
}

/* Text align
--------------------------- */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.center {
  margin: 0 auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Margin Padding
------------------------- */
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

/* Content direction
------------------------- */
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

/* Highlight
------------------------- */
.highlight {
  background-color: var(--dark);
  color: #ffffff;
  padding: 2px;
}

/* Text Size
-------------------------------------------- */
.size-small {
  font-size: 0.75rem;
}

.size-large {
  font-size: 1.5rem;
}

.size-2x {
  font-size: 2rem;
}

.size-3x {
  font-size: 3rem;
}

.size-4x {
  font-size: 4rem;
}

.size-5x {
  font-size: 5rem;
}

.size-6x {
  font-size: 6rem;
}

.size-7x {
  font-size: 7rem;
}

.size-8x {
  font-size: 8rem;
}

/* List styles
------------------------- */
.list-check {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.list-check li {
  position: relative;
}

.list-check li::before {
  content: "\f26d";
  font-family: "bootstrap-icons";
  padding-right: 5px;
  color: var(--color-primary);
  vertical-align: middle;
}

/* Content width
------------------------- */
.width30,
.width40,
.width50,
.width60,
.width70,
.width80,
.width90 {
  width: 100%;
  clear: both;
  display: block;
}

/* Empty width and height
------------------------- */
.w20px {
  display: inline-block;
  width: 20px;
}

.w30px {
  display: inline-block;
  width: 30px;
}

.w40px {
  display: inline-block;
  width: 40px;
}

.w50px {
  display: inline-block;
  width: 50px;
}

.w70px {
  display: inline-block;
  width: 70px;
}

.w100px {
  display: inline-block;
  width: 100px;
}

.spacer,
.spacer-x2,
.spacer-x3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  padding: 1rem 0;
}

.spacer-x2 {
  padding: 2rem 0;
}

.spacer-x3 {
  padding: 3rem 0;
}

/* Responsive Columns
------------------------- */
.section,
.section-small,
.section-large {
  display: block;
  width: 100%;
}

.section {
  padding: 2rem 0;
}

.section-small {
  padding: 1rem 0;
}

.section-large {
  padding: 3rem 0;
}

.flex,
.grid,
.items,
.columns,
.grid-container,
.flex-container {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

.flex,
.flex-container,
.columns {
  display: flex;
}

.columns,
.flex-container {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}

.item img {
  display: block;
}

.column {
  flex: 1 1 250px;
  margin: 0;
  padding: 0;
}

/* Flex and grid properties
------------------------- */
.space-between {
  justify-content: space-between;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.vh-center {
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 1rem;
}

.gap-2x {
  gap: 2rem;
}

.gap-small {
  gap: 0.5rem;
}

.no-gap {
  gap: 0;
}

/* Flex properties */
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

/* flex-items width */
.w10,
.w20,
.w30,
.w40,
.w50,
.w60,
.w70,
.w80,
.w90 {
  flex: 1 1 100%;
}

/* Banner */
.banner {
  position: relative;
  color: var(--bold-color);
  width: 100%;
  overflow: hidden;
}

.banner-image {
  border-radius: 6px;
  transition: transform 0.4s linear;
}

.banner:hover .banner-image {
  transform: scale(1.1);
}

.banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}

.banner-text p:last-of-type {
  margin: 0;
}

.banner .button {
  position: relative;
  background-color: transparent;
  color: var(--dark);
  font-family: var(--font-heading);
  font-weight: 500;
  padding: 0;
  border: 0;
}

.banner .button:hover {
  background-color: transparent;
}

.banner .button::before,
.banner .button::after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}

.banner .button::before {
  background-color: var(--color-primary);
  width: 100%;
}

.banner .button::after {
  background-color: var(--color-secondary);
  width: 0;
}

.banner .button:hover::before {
  width: 0;
}

.banner .button:hover::after {
  width: 100%;
}

.banner h3,
.banner h4 {
  font-size: 1.1rem;
  line-height: 1.2;
}

/* Media - Image */
img.round {
  border-radius: 14px;
}

img.border {
  border: 5px solid var(--color-border);
}

img.border-primary {
  border: 5px solid var(--color-primary);
}

img.border-secondary {
  border: 5px solid var(--color-secondary);
}

img.shadow {
  box-shadow: 0 0 1rem #444444;
}

img.shadow-primary {
  box-shadow: var(--shadow-primary);
}

img.shadow-secondary {
  box-shadow: var(--shadow-secondary);
}

/* Media - Audio, video */
.section-audio audio {
  min-width: 300px;
  width: 100%;
}

.section-audio audio:focus {
  outline-width: 2px;
  outline-style: solid;
}

.section-video video {
  vertical-align: middle;
  width: 100%;
}

/* Separator */
hr.line-dot {
  border-bottom: 1px dotted var(--color-border);
}

hr.line-dash {
  border-bottom: 2px dashed var(--color-border);
}

hr.line-double {
  height: 5px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

@media (max-width: 1023px) {
  .primary-menu-wrapper {
    width: 90%;
    max-width: 320px;
    height: 100%;
    overflow-y: auto;
  }
}
@media (min-width: 576px) {
  .w10,
  .w20,
  .w30,
  .w40,
  .w50,
  .w60,
  .w70,
  .w80,
  .w90 {
    flex-basis: calc(50% - 1rem);
  }
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* page layout */
  .sidebar-left .main-container {
    grid-template-columns: 1fr 3fr;
  }
  .sidebar-right .main-container {
    grid-template-columns: 3fr 1fr;
  }
  .two-sidebar .main-container {
    grid-template-columns: 1fr 2fr 1fr;
  }
  #sidebar-left {
    order: 1;
  }
  #main {
    order: 2;
  }
  #sidebar-right {
    order: 3;
  }
  /* Header */
  .site-brand img {
    max-height: 60px;
  }
  /* Footer */
  .region-footer-bottom .block,
  .footer-last-region {
    flex: 1 0 calc(50% - 1.5rem);
  }
  /* slider */
  .slider-section-left {
    flex: calc(70% - 1rem);
    max-width: calc(70% - 1rem);
  }
  .slider-section-right {
    flex: calc(30% - 1rem);
    max-width: calc(30% - 1rem);
  }
  /* shortcodes */
  /* Content width */
  .width30 {
    width: 30%;
  }
  .width40 {
    width: 40%;
  }
  .width50 {
    width: 50%;
  }
  .width60 {
    width: 60%;
  }
  .width70 {
    width: 70%;
  }
  .width80 {
    width: 80%;
  }
  .width90 {
    width: 90%;
  }
  .w10 {
    flex-basis: calc(10% - 1rem);
  }
  .w20 {
    flex-basis: calc(20% - 1rem);
  }
  .w30 {
    flex-basis: calc(30% - 1rem);
  }
  .w40 {
    flex-basis: calc(40% - 1rem);
  }
  .w50 {
    flex-basis: calc(50% - 1rem);
  }
  .w60 {
    flex-basis: calc(60% - 1rem);
  }
  .w70 {
    flex-basis: calc(70% - 1rem);
  }
  .w80 {
    flex-basis: calc(80% - 1rem);
  }
  .w90 {
    flex-basis: calc(90% - 1rem);
  }
  /* Product */
  .product {
    max-width: 296px;
  }
}
@media (min-width: 1024px) {
  .header-main-container {
    justify-content: space-between;
  }
  /* main menu */
  .close-mobile-menu,
  .mobile-menu-icon {
    display: none;
  }
  .primary-menu-wrapper {
    position: relative;
    background-color: transparent;
    padding: 0;
    transform: translateX(0);
    z-index: 2;
  }
  .region-primary-menu .menu {
    color: var(--bold-color);
    flex-direction: row;
    gap: 1.5rem;
  }
  .region-primary-menu .menu > li {
    border: 0;
  }
  .header-menu a,
  .region-primary-menu .menu a,
  .region-primary-menu .menu li > span {
    color: var(--bold-color);
  }
  .menu > .menu-item-has-children {
    padding-right: 14px;
  }
  .menu-item-has-children::after {
    position: absolute;
    right: 0;
    content: "+";
    color: var(--bold-color);
  }
  .region-primary-menu .menu-item-level-1::before {
    position: absolute;
    content: "";
    bottom: 0;
    background-color: var(--dark);
    width: 0px;
    height: 2px;
    transition: width 0.3s linear;
  }
  .region-primary-menu .menu > li:hover::before {
    width: 100%;
  }
  .region-primary-menu .submenu {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    min-width: 200px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 3px 3px 30px 1px rgba(0, 0, 0, 0.1);
  }
  .region-primary-menu .submenu li {
    border-bottom: 2px solid var(--dark);
  }
  .region-primary-menu .submenu li:last-child {
    border-bottom: 2px solid var(--dark);
  }
  .region-primary-menu .submenu li:first-child {
    border-top: 0;
  }
  .region-primary-menu .submenu li a,
  .region-primary-menu .submenu li span {
    padding: 0.5rem;
  }
  .region-primary-menu .menu-item-has-children:hover > .submenu {
    visibility: visible;
    animation: slideUp 0.5s forwards;
  }
  /* third level menu */
  .region-primary-menu .submenu .submenu {
    left: 100%;
    top: 0;
  }
  .submenu .menu-item-has-children::before {
    right: 0;
  }
  /* shortcodes */
  .banner h3,
  .banner h4 {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */