/* Color
--------------------------- */
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-dark {
  color: var(--dark);
}
.color-white {
  color: #ffffff;
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-primary-light {
  background-color: var(--light-primary);
}
.bg-secondary-light {
  background-color: var(--light-secondary);
}
.bg-dark {
  background-color: var(--dark);
}
/* Text align
--------------------------- */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.center {
  margin: 0 auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* Margin Padding
------------------------- */
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
/* Content direction
------------------------- */
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
/* Highlight
------------------------- */
.highlight {
  background-color: var(--dark);
  color: #ffffff;
  padding: 2px;
}
/* Text Size
-------------------------------------------- */
.size-small {
  font-size: 0.75rem;
}
.size-large {
  font-size: 1.5rem;
}
.size-2x {
  font-size: 2rem;
}
.size-3x {
  font-size: 3rem;
}
.size-4x {
  font-size: 4rem;
}
.size-5x {
  font-size: 5rem;
}
.size-6x {
  font-size: 6rem;
}
.size-7x {
  font-size: 7rem;
}
.size-8x {
  font-size: 8rem;
}
/* List styles
------------------------- */
.list-check {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.list-check li {
  position: relative;
}
.list-check li::before {
  content: '\F26d';
  font-family: "bootstrap-icons";
  padding-right: 5px;
  color: var(--color-primary);
  vertical-align: middle;
}
/* Content width
------------------------- */
.width30,
.width40,
.width50,
.width60,
.width70,
.width80,
.width90 {
  width: 100%;
  clear: both;
  display: block;
}
/* Empty width and height
------------------------- */
.w20px {
  display: inline-block;
  width: 20px;
}
.w30px {
  display: inline-block;
  width: 30px;
}
.w40px {
  display: inline-block;
  width: 40px;
}
.w50px {
  display: inline-block;
  width: 50px;
}
.w70px {
  display: inline-block;
  width: 70px;
}
.w100px {
  display: inline-block;
  width: 100px;
}
.spacer,
.spacer-x2,
.spacer-x3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.spacer {
  padding: 1rem 0;
}
.spacer-x2 {
  padding: 2rem 0;
}
.spacer-x3 {
  padding: 3rem 0;
}
/* Responsive Columns
------------------------- */
.section,
.section-small,
.section-large {
  display: block;
  width: 100%;
}
.section {
  padding: 2rem 0;
}
.section-small {
  padding: 1rem 0;
}
.section-large {
  padding: 3rem 0;
}
.flex,
.grid,
.items,
.columns,
.grid-container,
.flex-container {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
.flex,
.flex-container,
.columns {
  display: flex;
}
.columns,
.flex-container {
  flex-wrap: wrap;
}
.grid {
  display: grid;
}
.grid-container {
  display: grid;
  grid-auto-flow: column;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;
}
.item img {
  display: block;
}
.column {
  flex: 1 1 250px;
  margin: 0;
  padding: 0;
}
/* Flex and grid properties
------------------------- */
.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vh-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gap {
  gap: 1rem;
}
.gap-2x {
  gap: 2rem;
}
.gap-small {
  gap: 0.5rem;
}
.no-gap {
  gap: 0;
}
/* Flex properties */
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}
/* flex-items width */
.w10,
.w20,
.w30,
.w40,
.w50,
.w60,
.w70,
.w80,
.w90 {
  flex: 1 1 100%;
}
/* Banner */
.banner {
  position: relative;
  color: var(--bold-color);
  width: 100%;
  overflow: hidden;
}
.banner-image  {
  border-radius: 6px;
  transition: transform 0.4s linear;
}
.banner:hover .banner-image {
  transform: scale(1.1);
}
.banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.banner-text p:last-of-type {
  margin: 0;
}
.banner .button {
  position: relative;
  background-color: transparent;
  color: var(--dark);
  font-family: var(--font-heading);
  font-weight: 500;
  padding: 0;
  border: 0;
}
.banner .button:hover {
  background-color: transparent;
}
.banner .button::before,
.banner .button::after {
  position: absolute;
  content: '';
  height: 3px;
  bottom: 0;
  left: 0;
  transition: all 0.3s linear;
}
.banner .button::before {
  background-color: var(--color-primary);
  width: 100%;
}
.banner .button::after {
  background-color: var(--color-secondary);
  width: 0;
}
.banner .button:hover::before {
  width: 0;
}
.banner .button:hover::after {
  width: 100%;
}
.banner h3,
.banner h4 {
  font-size: 1.1rem;
  line-height: 1.2;
}
/* Media - Image */
img.round {
  border-radius: 14px;
}
img.border {
  border: 5px solid var(--color-border);
}
img.border-primary {
  border: 5px solid var(--color-primary);
}
img.border-secondary {
  border: 5px solid var(--color-secondary);
}
img.shadow {
  box-shadow: 0 0 1rem #444444;
}
img.shadow-primary {
  box-shadow: var(--shadow-primary);
}
img.shadow-secondary {
  box-shadow: var(--shadow-secondary);
}
/* Media - Audio, video */
.section-audio audio {
  min-width: 300px;
  width: 100%;
}
.section-audio audio:focus {
  outline-width: 2px;
  outline-style: solid;
}
.section-video video {
  vertical-align: middle;
  width: 100%;
}
/* Separator */
hr.line-dot {
  border-bottom: 1px dotted var(--color-border);
}
hr.line-dash {
  border-bottom: 2px dashed var(--color-border);
}
hr.line-double {
  height: 5px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}